h2{
    color: orange;
}

h3{

 /*   margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;*/
    
    margin: 100px 300px 200px 400px;

}

div{
    border: solid black 3px;
    margin: 100px;
    padding: 50px 100px;
    background-color: blanchedalmond;
}